<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- usermapperInterface 와 namespace를 맞춰준다 --> 
<!--  조건이 IF에 의해 변경될 것 같다면 WHERE을 태그로 달아라. 필요없는 AND를 알아서 생략해준다. pw 하나만 와도 오류 안남 -->
<mapper namespace="com.gdu.myapp.mapper.UserMapper">

   <select id="getUserByMap"
          parameterType="Map"
          resultType="UserDto">
    SELECT USER_NO, EMAIL, PW, NAME, GENDER, MOBILE, EVENT_AGREE, SIGNUP_KIND, PW_MODIFY_DT, SIGNUP_DT
      FROM USER_T
    <where>
      <if test="email!=null">EMAIL = #{email}</if>
      <if test="pw!=null">AND PW = #{pw}</if>
    </where>
  </select>

  <insert id="insertAccessHistory"
          parameterType="Map">
    INSERT INTO ACCESS_HISTORY_T (
        ACCESS_HISTORY_NO
      , EMAIL
      , IP
      , SIGNIN_DT
      , SIGNOUT_DT
    ) VALUES (
        ACCESS_SEQ.NEXTVAL
      , #{email}
      , #{ip}
      , CURRENT_DATE
      , NULL
    )
  </insert>
  
  <select id="getLeaveUserByMap"
          parameterType="Map"
          resultType="LeaveUserDto">
  SELECT LEAVE_USER_NO
    FROM LEAVE_USER_T
   <where>
    <if test="email!=null">EMAIL = #{email}</if>
   </where>        
          
  </select>
          
          
          
  <insert id="insertUser"
          parameterType="UserDto">
    INSERT INTO USER_T (
        USER_NO
      , EMAIL
      , PW
      , NAME
      , GENDER
      , MOBILE
      , EVENT_AGREE
      , SIGNUP_KIND
      , PW_MODIFY_DT
      , SIGNUP_DT  
     ) VALUES (
       USER_SEQ.NEXTVAL
     , #{email}
     , #{pw}
     , #{name}
     , #{gender}
     , #{mobile}
     , #{eventAgree}
     , 0
     , CURRENT_DATE 
     , CURRENT_DATE 
    )
    <!--  프로젝트 할때 비밀번호 변경후 30일 경과 이런걸 해보는 것도 좋음. current_date로 기록만 남기고 있는데 이제 30일 지나면 비밀번호 바꾸는 페이지로 빼주고...
    30일 동안 알리지 않기 이런 버튼 추가해주는 것도 있고요(비밀번호 수정일 +30 이런식으로도 함ㅋㅋ 좀더 정식적으로는 칼럼을 추가하는 방법도 있고...)!-->
    
  </insert>

<delete id="deleteUser">
  DELETE 
  FROM USER_T
  WHERE USER_NO = #{userNo}
</delete>


</mapper>