<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- usermapperInterface 와 namespace를 맞춰준다 --> 
<!--  조건이 IF에 의해 변경될 것 같다면 WHERE을 태그로 달아라. 필요없는 AND를 알아서 생략해준다. pw 하나만 와도 오류 안남 -->
<mapper namespace="com.gdu.myapp.mapper.UserMapper">

   <select id="getUserByMap"
          parameterType="Map"
          resultType="UserDto">
    SELECT USER_NO, EMAIL, PW, NAME, GENDER, MOBILE, EVENT_AGREE, SIGNUP_KIND, PW_MODIFY_DT, SIGNUP_DT
      FROM USER_T
    <where>
      <if test="email!=null">EMAIL = #{email}</if>
      <if test="pw!=null">AND PW = #{pw}</if>
    </where>
  </select>

  <insert id="insertAccessHistory"
          parameterType="Map">
    INSERT INTO ACCESS_HISTORY_T (
        ACCESS_HISTORY_NO
      , EMAIL
      , IP
      , SIGNIN_DT
      , SIGNOUT_DT
    ) VALUES (
        ACCESS_SEQ.NEXTVAL
      , #{email}
      , #{ip}
      , CURRENT_DATE
      , NULL
    )
  </insert>
  
  <select id="getLeaveUserByMap"
          parameterType="Map"
          resultType="LeaveUserDto">
  SELECT LEAVE_USER_NO
    FROM LEAVE_USER_T
   <where>
    <if test="email!=null">EMAIL = #{email}</if>
   </where>        
          
  </select>
          
          
          
  <insert id="insertUser"
          parameterType="UserDto">
            
  </insert>

</mapper>